<div class="container mt-4">
    <h1>Categories</h1>
    <button class="btn btn-success" routerLink="/categories/create">Add New Category</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>
                <button class="btn btn-primary btn-sm" (click)="editCategory(category.id)">Edit</button>
                <button class="btn btn-danger btn-sm" (click)="deleteCategory(category.id)">Delete</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>
